*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(46, 43, 43);
    color: white;
}
body{
    height: 120vh;
    width:100vw;
}
li{
    /* decoration: none; */
      list-style: none;
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    padding-left:40px;
}
a{
    text-decoration: none;
}
.heading{
    display: block;
    border-bottom:2px solid rgb(95, 95, 99);
    border-top:2px solid rgb(95, 95, 99);
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    /* position:fixed; */
    width:100vw;
    margin:0px auto;
    margin-top:10px;
    text-align:center;
    
}
.navbar{
    /* margin-top:20px; */
    /* display : flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* position:sticky; */
    border:2px solid #7e7e7e;
    width:100vw;
    margin-top:10px;
    position: sticky;
    top: 0;
}
.image{
    display:block;
    width:200px;
    height:200px;
    margin:auto;
    /* border:2px solid yellow; */
    margin-top:30vh;
    /* position:sticky; */
    /* top:0px; */
}
.timeline{
    display:block;
    width:200px;
    margin:auto;
    /* border:2px solid red; */
    margin-top:30px;
}
.timeline h3{
    text-align:center;
}
#head1{
    margin-top:30vh;
}
.headtxt{
    /* border:2px solid white; */
    margin-top:20px;
    /* border-bottom: 2px solid rgb(95, 95, 99); */
}
.txt{
    width:80vw;
    height:auto;
    margin-left:80px;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    padding-left: 34px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 19px;
    margin-top: 27px;
}
.wiki{
    border:2px solid #444444;
    margin-top:77px;
}
.wiki a{
    text-decoration:underline;
    color:#7474e5;
}
.wiki p{
    font-size:20px;
}
/* .footer{
    border:2px solid orange;
    margin-top:10px;
} */
.back{
    /* border:2px solid brown; */
    margin-top:10px;
    display: inline-block;
    position:sticky;
    bottom: 0;
    /* right:2px; */
    /* left:200px; */
    /* right:3px; */
}
.back img{
    width:50px;
    height:auto;
}